{% extends "base.html" %}
{% block title %}Delete Restaurant {{restaurant.id}}{% endblock %}

{% block content %}
<h1 class="restaurant-title">{{restaurant.name}}</h1>
<h2 class="section-title">Delete Restaurant</h2>
<h3 class="text-danger">Will delete the following restaurant:</h3>
<form method="POST">
<div class="to_delete restaurant">
	<div class="restaurant-name">{{restaurant.name}}</div>
</div>
<div class="submit_cancel">
	<input class="submit" id="delete" type="submit" value="Delete">
	<a class="cancel" id="cancel" href={{url_for('showRestaurants')}}>Cancel</a>
</div>
</form>
{% endblock %}
